<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%title%></title>
  </head>
  <body>
    <h1>Hello!</h1>
    <p>My name is <%=name%></p>
    <p>Now <%=date%></p>
    <p>Result: <%=(4+0.33)*2/100%></p>
    <p>First elem of array: <%=mas[0]%></p>
    <p>На кубике выпало число: <%=rNumber%></p>
    <p><%=5*a - (3 + b*3) / 4%></p>
    <p>2+3+7+9+4+8+1+5 = <%=sum(2,3,7,9,4,8,1,5)%></p>
  </body>
</html>
